.drake/
_targets/
*_files/
.Rprofile
.Renviron
.Rhistory
.Rapp.history
.Rproj.user
.Rproj.user/
.DS_Store
*.csv
*.tsv
*.rds
*.txt
*.parquet
*.sas7bdat
.RData
.RDataTmp
*.html
*.png
*.pdf
.vscode/
rsconnect/
*_cache/
